{% extends 'base.html.twig' %}
{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		<style>
        .alert{ 
    /* position: fixed; */
    margin:auto;
    font-size: 20px;
    top: 10vh;
    z-index: 2;
    text-align: center;
    background-color: rgba(13, 60, 81, 0.7);
    color: #fff;
    /* opacity:0.5; */
}
p{
    color: #fff;
}
        </style>

{% endblock %}
{% block title %}{% endblock %}

{% block body %}
<div class="container-fluid">
<img class="img-fluid" style="width:100vm; " src="{{ asset('img/interview.jpg') }}" alt="interview"/>

<div class="alert alert-dismissible fade show position-fixed" role="alert">
  <p> Nous devons disposer d’une plateforme numérique afin de pouvoir recruter efficacement et rapidement nos futurs consultants </p>
   
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>

{% endblock %}
{# //class="img-fluid" #}