{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
<div style="width: 60% !important;"class="container-fluid d-flex justify-content-center row m-auto">

<h4 class="text-center mt-4"> Nous devons disposer d’une plateforme numérique afin de pouvoir recruter efficacement et rapidement nos futurs consultants </h4>
<img class="mt-4" src="{{ asset('img/interview.jpg') }}" alt="interview"/>

</div>

{% endblock %}


{# //class="img-fluid" #}