{% extends 'base.html.twig' %}

{% block title %}Modifier Competence{% endblock %}

{% block body %}
    <h1>Modifier Competence</h1>

    {{ include('competence/_form.html.twig', {'button_label': 'Enregistrer'}) }}

  
{% endblock %}
