{% extends 'base.html.twig' %}

{% block title %}New Competence{% endblock %}

{% block body %}
    <h1>Ajouter Competence</h1>

    {{ include('competence/_form.html.twig') }}

    <a href="{{ path('competence_index') }}">Retour à la liste</a>
{% endblock %}
