{% extends 'base.html.twig' %}

{% block title %}New Recruteur{% endblock %}

{% block body %}
    <h1>Ajouter Recruteur</h1>

    {{ include('recruteur/_form.html.twig') }}

    <a href="{{ path('recruteur_index') }}">Retour à la liste</a>
{% endblock %}
