{% extends 'base.html.twig' %}

{% block title %}Entretien{% endblock %}

{% block body %}
    <h1>Nouveau entretien</h1>
    Candidat:
    <input class="form-control" value="{{ entretien.candidat.nom }} {{ entretien.candidat.prenom }}" disabled="disabled">
    {{ include('entretien/_form.html.twig') }}

    {# <a href="{{ path('entretien_index') }}">Retour à la liste</a> #}
{% endblock %}
