<h3>Annulation d'entretien</h3>

Bonjour {{ recruteur.nom }},
<br>
Nous vous informons que l'entretien du {{ entretien.dateEntretien | date('d-m-Y') }} a été annulé.
<br> <br>
---------------Merci de ne pas répondre à cet email, -------------------------
<br>
Cordialement.
<br>
Equipe RecrutementRh. <br>
<img src="{{ asset('img/interview.jpg') }}">
