{# templates/emails/registration.html.twig #}
<h3>Confirmation d'entretien</h3>

Bonjour {{ candidat.nom }}, <br>
vous etes invité à passer un entretien le 

{# example, assuming you have a route named "login" #}
{# To login, go to: <a href="{{ url('login') }}">...</a>. #}

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('img/interview.jpg')) }}">